<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @profile.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p style="color:222222 !important;">
  <span style="font-size:24px;">
  <i class="fa fa-pencil-square-o"></i>
  <%= link_to 'Edit', edit_profile_path(@profile) %>
</span>
</p>