
<h1><%= @profile.first_name %>&nbsp;<%= @profile.last_name %></h1>

<p>
  <strong>Birth date:</strong>
  <%= @profile.birth_date %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @profile.zipcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profile.phone %>
</p>

<p>
  <i class="fa fa-2x fa-pencil-square-o"></i>
  <%= link_to 'Edit', edit_profile_path(@profile), class: 'btn btn-warning' %>
</span>
</p>