<div class="page-header"><h1><%= t(".title") %></h1></div>

<%= form_for @user do |form| %>
  <%= render partial: '/users/form', object: form %>

  <div class="row">
  	<div class="col-xs-3 col-md-2">
  		<%= form.submit 'Sign Up', class: 'btn btn-primary' %>
  	</div>
  	<div class="col-xs-3 col-md-2">
	    	<%= link_to t(".sign_in"), sign_in_path, class: 'btn btn-info' %>
  	</div>
  </div>
<% end %>
