<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @course.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @course.end_date %>
</p>

<p>
  <strong>Class average:</strong>
  <%= @course.class_average %>
</p>

<% if current_user.admin? %>
	<%= link_to 'Edit', edit_course_path(@course) %>
<% end %>
