<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Learn 24x7</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Learn 24x7', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav pull-right">
        <% if current_user.present? %>
          <li><span><%= current_user.role.humanize %>: &nbsp;&nbsp;<span></li>
        <% end %>
        <% if signed_in? %>
          <li><span><%= link_to current_user.email, profile_path(current_user.profile.id) %>&nbsp;&nbsp;</span></li>
          <li><span> <i class="fa fa-sign-in"> <%= link_to 'Sign out', sign_out_path, method: :delete %></i><span></li>
        <% else %>
          <li><span> <i class="fa fa-sign-in"> <%= link_to 'Sign in', sign_in_path %></i><span></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
</div>
</body>
<footer class="footer">
  <p>
      &copy; 2016 Learn 24x7
  </p>
</footer>
</html>
